@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin:0;
    padding:0;
  }

  body {
    background-image: url('css/_6ba3ace4-be70-4556-afd9-031594303ff7.jfif');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    position: relative;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  header{  
    height: 10vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: black;;
    
  }


  #logo img{
    height: 8vh;
    margin-top: 7px;
  }

  #display{
    font-size: 40px;
    margin-top: 24px;
  }

  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }
  
  .card-body{
    box-shadow: 0 0 7px black;
    

  }

  .card a{
    text-decoration: none;

  }
  
  #modal-view{
    border:1px solid black;
    position: absolute;
    display:none;
    width: 90vw;
    padding:10px;
    background-color: white;
    box-shadow: 0 0 7px #999;
    

  }
  
  #close-modal{
    float:right;
  }
  
  #modal{
    border:1px solid #40251B;
    position: absolute;
    padding:2vh 2vw;
    display:none;
    width: 90vw;
    box-shadow: 0 0 7px #40251B;
    background-color: white solid; opacity: 0.9; 
  }

  #controls-note{
    display:flex;
    gap:10px;
  }

  .form-control{
    box-shadow: 0 0 7px #40251B;
  }

 
