*{
    margin:0;
    padding:0;
  }
  
.bg{
  background-color: #9ecdf3;
}

  header{
    border-bottom: 1px solid #1b85dc;
    height: 10vh;
    align-items: center;
    display:flex;
    justify-content: space-between;
    background-color: #0056B3;
    box-shadow: 0 0 7px #0a4677;

  }
  
  #logo img{
    height: 8vh;
    margin-top: 7px;
  }

  #display{
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 24px;
  }

  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card-body{
    box-shadow: 0 0 7px #2087db;
  }

  .card a{
    text-decoration: none;
  }
  
  #modal-view{
    border:1px solid #1b85dc;
    position: absolute;
    display:none;
    width: 90vw;
    padding:10px;
    background-color: white;
    box-shadow: 0 0 7px #2087db;

  }
  
  #close-modal{
    float:right;
  }
  
  #modal{
    border:1px solid #1b85dc;
    position: absolute;
    padding:2vh 2vw;
    display:none;
    width: 90vw;
    box-shadow: 0 0 7px #2087db;
    background-color: #e6f2fd; 
  }

  #controls-note{
    display:flex;
    gap:10px;
  }

  .form-control{
    box-shadow: 0 0 7px #2087db;
  }